bin/
gen/
*.class
*.classpath
project.properties
UninstallDemo/assets/crashlytics-build.properties
UninstallDemo/crashlytics.properties
UninstallDemo/kit-libs/com-crashlytics-sdk-android_answers/.project
UninstallDemo/kit-libs/com-crashlytics-sdk-android_answers/.settings/org.eclipse.jdt.core.prefs
UninstallDemo/kit-libs/com-crashlytics-sdk-android_answers/AndroidManifest.xml
UninstallDemo/kit-libs/com-crashlytics-sdk-android_answers/build.xml
UninstallDemo/kit-libs/com-crashlytics-sdk-android_answers/kit-version.properties
UninstallDemo/kit-libs/com-crashlytics-sdk-android_answers/libs/com-crashlytics-sdk-android_answers-classes.jar
UninstallDemo/kit-libs/com-crashlytics-sdk-android_beta/.project
UninstallDemo/kit-libs/com-crashlytics-sdk-android_beta/.settings/org.eclipse.jdt.core.prefs
UninstallDemo/kit-libs/com-crashlytics-sdk-android_beta/AndroidManifest.xml
UninstallDemo/kit-libs/com-crashlytics-sdk-android_beta/build.xml
UninstallDemo/kit-libs/com-crashlytics-sdk-android_beta/kit-version.properties
UninstallDemo/kit-libs/com-crashlytics-sdk-android_beta/libs/com-crashlytics-sdk-android_beta-classes.jar
UninstallDemo/kit-libs/com-crashlytics-sdk-android_crashlytics/.project
UninstallDemo/kit-libs/com-crashlytics-sdk-android_crashlytics/.settings/org.eclipse.jdt.core.prefs
UninstallDemo/kit-libs/com-crashlytics-sdk-android_crashlytics/AndroidManifest.xml
UninstallDemo/kit-libs/com-crashlytics-sdk-android_crashlytics/build.xml
UninstallDemo/kit-libs/com-crashlytics-sdk-android_crashlytics/kit-version.properties
UninstallDemo/kit-libs/com-crashlytics-sdk-android_crashlytics/libs/com-crashlytics-sdk-android_crashlytics-classes.jar
UninstallDemo/kit-libs/io-fabric-sdk-android_fabric/.project
UninstallDemo/kit-libs/io-fabric-sdk-android_fabric/.settings/org.eclipse.jdt.core.prefs
UninstallDemo/kit-libs/io-fabric-sdk-android_fabric/AndroidManifest.xml
UninstallDemo/kit-libs/io-fabric-sdk-android_fabric/build.xml
UninstallDemo/kit-libs/io-fabric-sdk-android_fabric/kit-version.properties
UninstallDemo/kit-libs/io-fabric-sdk-android_fabric/libs/io-fabric-sdk-android_fabric-classes.jar
UninstallDemo/kits.properties
UninstallDemo/libs/crittercism_v5_2_0_sdkonly.jar
UninstallDemo/lint.xml
UninstallDemo/res/values/com_crashlytics_export_strings.xml
UninstallDemo/src/com/example/uninstalldemo/SecondActivity.java
UninstallDemo/src/com/example/uninstalldemo/ThirdActivity.java