<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.locuslabs.notiphisample"
	android:versionCode="1"
	android:versionName="1.0" >
	<uses-sdk
		android:minSdkVersion="10"
		android:targetSdkVersion="16" />
	<permission
		android:name="com.locuslabs.notiphisample.permission.C2D_MESSAGE"
		android:protectionLevel="signature" >
	</permission>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="com.locuslabs.notiphisample.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		<activity
			android:name="com.locuslabs.notiphisample.MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.locuslabs.notiphisample.SecondActivity" >
		</activity>
		<activity android:name="com.locuslabs.notiphisample.ThirdActivity" >
		</activity>
		<activity
			android:theme="@style/HideActionBarTheme" 
			android:name="com.locuslabs.notiphisample.NotificationCenter">
		</activity>
		<activity android:name="com.locuslabs.notiphisample.NotificationDetailsActivity"></activity>
		
		
		<!-- Declaration required to use Notiphi Services -->
		
		
		<receiver
			android:name="com.notikum.notifypassive.receivers.LocationAlertReceiver"
			android:enabled="true"
			android:exported="true" >
		</receiver>
		<receiver android:name="com.notikum.notifypassive.receivers.BootCompleteReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.notikum.notifypassive.services.NotiphiGCMMessageReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.locuslabs.notiphisample" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.notikum.notifypassive.receivers.NetworkStateChangeReceiver" >
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		
		
		<activity android:name="com.notikum.notifypassive.utils.NotiphiWebView"></activity>
		
		<service android:name="com.notikum.notifypassive.services.GCMIntentService" >
		</service>
		<service android:name="com.notikum.notifypassive.services.NotiphiService" >
		</service>
		<service android:name="com.notikum.notifypassive.services.GCMInformService" >
		</service>
		<service android:name="com.notikum.notifypassive.NewApiActivityRecognization" >
		</service>
		<service android:name="com.notikum.notifypassive.NotiphiClusterSyncIntentService" >
		</service>
		<service android:name="com.notikum.notifypassive.services.DiscardedNotificationService" >
		</service>
		<service android:name="com.notikum.notifypassive.services.NotificationInformService" > </service>
		<service android:name="com.notikum.notifypassive.services.SendBulkDataIntentService"></service>
		
		
	</application>
</manifest>